body {
    background-color: rgba(49, 75, 190, 1);
    font-family: sans-serif;
} 

.main-container {
    text-align: center;
    color: white;
    margin: auto;
    width: 600px;
}

.config-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.controls-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.button {
    width: 100px;
    border-radius: 50%;
    font-size: 300%;
    color: white;
}

#timer {
    font-size: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#status {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
}